{% extends 'base.html.twig' %}

{% block title %}Hello Trint!{% endblock %}

{% block body %}

    <button command="show-modal" commandfor="add-review">Add review</button>

    <dialog id="add-review"{{ hasError ? ' open' : '' }}>
        {{ form(review_form) }}
        <button commandfor="add-review" command="close">Close</button>
    </dialog>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                {# @var review \App\Entity\Review #}
                <span class="name">{{ review.getCompany().getName() }}</span>
                <span class="rating">{{ review.getRating() }}</span>
                <span class="text">{{ review.getReviewText() }}</span>
                <span class="created">{{ review.getCreatedAt().format('Y.m.d. H:i:s') }}</span>
            </div>
        {% endfor %}
    </div>
    {% if (cursor) %}
        <a href="{{ path('app_reviews') }}">legfrissebb</a>
    {% endif %}

    {% if (lastId) %}
        <a href="{{ path('app_reviews', {cursor: lastId}) }}">több elem</a>
    {% endif %}

{% endblock %}
